doctype html
html(lang="en").h-100
  head
    title Business Developer | Hornbook
    meta(charset="utf-8")
    link(
      rel="stylesheet"
      href="style.scss"
    )
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )


    meta(
      property="og:title"
      content="Business developer position at Hornbook"
    )
    meta(
      property="og:image"
      content="../assets/helloquence-61189-unsplash.jpg"
    )
    meta(
      property="og:description"
      content="For our new software education company we are looking for a business developer."
    )
    meta(
      property="og:url"
      content="/business-developer.html"
    )

  body.d-flex.flex-column.h-100
    .container
      .row.align-items-center.p-5
        .col-lg-3.p-5.align-self-start#image
          a(href="/")
            img.img-fluid.rounded-circle(src="../assets/thomas-serer-1462714-unsplash.jpg")

        .col-lg-9.p-3
          #heading.mt-5
            p.lead
              | Business developer position at

            h1.text-center.text-lg-left.display-2
              | Horn&shy;book

          #content.mt-5
            h2
              | About us

            p
              | We are a couple of software developers based in Bussum, North Holland. We are in the process of starting a business under a brand name #[a(href="/") Hornbook]. We are focusing on training, coaching and consulting. In March we ran first round of #[a(href="https://software.garden/") Software Garden workshop] at the University of Utrecht. Second round is scheduled for May. We also have some clients for one on one coaching, but obviously this is just a beginning.

            h2
              | Who are we looking for
            p
              | A business developer who will help us:
            ul
              li Generate new leads and bring new clients;
            ul
              li Advertise (social and traditional media);
            ul
              li Maintain good client relations;
            ul
              li Make strategic decisions;
            ul
              li Develop new ideas.
            h5
              | Requirements for this position
            ul
              li Academic degree in any field
            ul
              li Excellent communication skills in Dutch and English
            ul
              li Proven analytical skills
            h5
              | What we are offering
            ul
              li 20% of revenue
            ul
              li A partnership after a year

    footer.footer.mt-auto.p-5.bg-dark.text-white
      .container: .row
        .col-lg-4
          dl
            dt Contact us
            dd fana@software.garden
            dd +31 638 216 166

        .col-lg-4
          dl
            dt Fana Mehari Hagos
            dd: a(href="https://jewiet.com") jewiet.com

        .col-lg-4
          dl
            dt Ted Lazurski
            dd: a(href="https://tad-lispy.com") tad-lispy.com


    script(src="index.coffee")
    include analytics.pug
