doctype html
html(lang="en")
    head
      title Hornbook
      meta(charset="utf-8")
      meta(
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
      )
      link(
        rel="stylesheet"
        href="style.pcss"
      )
      meta(
        property="og:title"
        content="Hornbook"
      )
      meta(
        property="og:image"
        content="../assets/taylor-wilcox-4nKOEAQaTgA-unsplash.jpg"
      )
      meta(
        property="og:description"
        content="We are building a tool to help you engage your students and measure their level of understanding."
      )
      meta(
        property="og:url"
        content="/"
      )
      script(
        defer
        src="https://decks.hornbook.io/embed.js"
      )
      script(
        defer
        src="./index.coffee"
      )

      include analytics.pug

      link(
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap"
        rel="stylesheet"
      )
    body

      header
        h1#logo
          a(href="/")
            img(
              src="./hornbook.svg"
              alt="Hornbook logo"
            )
        nav
          a(href="#pricing") Pricing
          a(href="#contact-us") Contact

      main
        h1
          | Hey Educators,
        p.text-xl
          | We are building a tool to help you <strong>engage</strong> your students and <strong>measure</strong> their level of understanding.


        div.full-bleed.h-screen.shadow-inner.my-16.deck
          div(
            data-deck="https://decks.hornbook.io/decks/demos/capital-cities"
            data-teacher="34620634-EC55-4547-84CE-814801846F7D"
            data-transparent
          )
            p
              | This is a deck that will show you how to use Hornbook.
        ul
          li
            h3 Engage your students
            p Use interactive presentations with questions. Present live or let your students access decks at their leisure. Create your own decks or use existing content.

          li
            h3 Measure students' performance
            p Learn which parts of your material are difficult, so you can explain it better. See how different methods of teaching affect the results.

          li
            h3 Get paid for your content
            p Offer students paid access to the decks you created.

          li
            h3 Made in Europe
            p Protected by European privacy laws.

        h2#pricing
          | How would you like to use Hornbook?

        div.full-bleed
          div.pricing-cards
            a(href="#contact-us")
              div.pricing-card(style={ transform: "rotate(5deg)" })
                p
                  | I will host my own decks and embed them on my website
                p.price
                  | Free
                p.fancy
                  | But you have to be a geek

            a(href="#contact-us")
              div.pricing-card(style={ transform: "rotate(-3deg)" })
                p
                  | I will host my own decks and embed them on my website,
                p.price
                  | 1 € / month
                p.fancy
                  | And we will measure the results.

            a(href="#contact-us")
              div.pricing-card(style={ transform: "rotate(-4deg)" })
                p
                  | I want you to host my decks and show them to my students.
                p.price
                  | 10 € / month
                p.fancy
                  | The easy option

            a(href="#contact-us")
              div.pricing-card(style={ transform: "rotate(3deg)" })
                p
                  | I want access to my decks paid.
                p.price
                  | Use the calculator
                p.fancy
                  | Let's profit together

            a(href="#contact-us")
              div.pricing-card(style={ transform: "rotate(-3deg)" })
                p
                  | We are running a school.
                p.price
                  | Please contact us
                p.fancy
                  | We would love to hear from you!

        h2#contact-us Contact us

        p We want to make a great tool for all of us - yes, <a href="https://software.garden/">we are educators too</a>! It's not quite ready yet, but if you are interested and willing to help, or have any questions - please contact us. As a beta tester you will have access to all paid features for free.

        div#message-confirmation
          p.font-bold Your message was sent.
          p Thank you. We will respond to it shortly.

        form#contact-us.m-auto.my-12.max-w-xs(
            method="post",
            action="https://api.hornbook.io/rpc/contact_us"
        )
          div.mb-4
            label(for="name") Your name
            input(id="name" name="name")

          div.mb-4
            label(for="address") Your e-mail address
            input(id="address" name="address", type="email")

          div.mb-4
            label(for="address") Message
            textarea(id="message", name="message", placeholder="Hello...")

          div.mb-4
            button(type="submit") Send

    footer
      a(href="/")
        img.logo(
          src="./hornbook.svg"
          alt="Hornbook logo"
        )
      aside
        | &copy; 2020 <a href="https://tad-lispy.com/">Tad Lispy</a>
